body{
    margin:0;
    font-family: sans-serif;
    background-color: #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

div,body,header,footer,nav,ul{
    box-sizing: border-box;
}

.main-wrapper,header,footer{
    width: 100%;
}

.main-navbar{
    background-color: #48e;
    display: flex;
    width: 100%;
    justify-content: center;
}

.main-navbar ul{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-self: center;
}

.main-navbar li{
    list-style: none;
    margin: 4px;
}

.main-navbar a{
    color: #fff;
    display: inline-block;
    padding: 6px 9px;

}

nav a{
    text-decoration: none;
}


/* MAIN SECTION */

.main-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    max-width: 1200px;
    gap: 10px;
}

aside, main{
    /*border: 1px solid #f00;*/
    padding: 10px;
    flex-basis: 0;
    background-color: #fff;
    
}
.main-wrapper aside{
    flex-grow: 1;
    max-width: 200px;
}

.main-wrapper main{
    flex-grow: 2;
    max-width: 600px;
}
.secondary-navbar{
    min-width: 200px;
    text-align: center;
    max-width: 300px;
}

.secondary-navbar ul{
    padding: 0;
    
}

.secondary-navbar li{
    list-style: none;
}

.secondary-navbar a{
    color: #000;
    display: inline-block;
    padding: 6px 9px;
}



footer{
    margin-top: auto;
    border: 1px solid #f00;
    background-color: #333;
    color: #fff;
    padding: 40px;
}

@media screen and (max-width: 600px){
    aside:last-child{
        display: none;
    }
}

@media screen and (max-width: 400px){
    .main-wrapper{
        flex-direction: column;
    }
}