body{
    margin:0;
}

div{
    padding: 20px;
    background-color: #999;
}

.a-block{
    border: 1px solid #000;
    background-color: red;
    color: #fff;
    display: block;
    margin: 20px;
    padding: 20px;
}

.a-inline{
    border: 1px solid #000;
    background-color: red;
    color: #fff;
    margin: 20px;
    padding: 20px;
}

.p-inline{
    display: inline;
}